body {
  overflow: hidden;
}

.App {
  text-align: center;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 9999;
  height: 200px;
  width: 100%;
  background: linear-gradient(to bottom right, #770505, #d68e0a);
  color: white;
  display: flex;
  justify-content: flex-start;
}

.App-header-center {
  flex: 5;
}


.App-header-side {
  flex: 1;
  text-align: left
}

.App-header-side img {
  max-height: 100%;
  max-width: 100%;
}

.mediaImg {
  height: 35vh;
  width: 100%;
  padding-right: 25px;
}

.mediaImg img {
  object-fit: contain;
  height: 100%;
}

.mediaVid {
  height: 35vh;
  width: 62vh !important;
  padding-right: 25px;
}

#main {
  position: absolute;
  top: 200px;
  bottom: 0;
  width: 100%;
  overflow: auto;
  padding: 0;
  margin: 0;
  background-color: black;
}

#projects {

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Project {
  text-align: left;
  padding: 10px;
  margin: 2.5vh;
  border-radius: 16px;
  background: linear-gradient(to bottom right, #96d7ea, #1d4cf7);
}

.Project > * {
  padding: 10px;
  flex: 1 100%;
}

.prHeader {
  display: flex;
  flex-flow: row;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
}

.prHeader > h1 {
  flex: 2;
  text-align: center;
  white-space: normal;
}

.headerOuter {
  width: 15%;
}

#tagsList {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
}

.prMain {
  display: flex;
  flex-flow: row;
}

.prDescription {
  flex-basis: 20%;
}

.prHeader > a {
  flex: 1;
}

.slick-dots {
  position: relative !important;
  bottom: -10px !important;
}

.slick-slide {
  height: auto;
}

.slick-track {
  display: flex !important;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.slick-list {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.slick-next { right: 0px !important; }
.slick-prev { left: 0px !important; }

.prTags {
  padding-top: 10px;

}

.tag {
  padding-right: 10px;
  cursor: pointer;
}

.tag:hover {
  color: #f7f596;
}

.activeTag {
  padding-right: 10px;
  cursor: pointer;
  color: #62ef89;
  font-weight: bold;
}

.activeTag:hover {
  color: #a0f7b8;
}

.removeTagButton {
  padding-right: 10px;
  cursor: pointer;
  color: #d8d86a;
}

.removeTagButton:hover {
  color: #a0f7b8;
}